<% content_for :js_pack_tag do %>
  <%= javascript_pack_tag 'distilleries' %>
<% end %>

<%= render 'shared/unreactive_header' %>

<div id="root">
  <h1>Cellar#index</h1>
  <p>Find me in app/views/cellar/index.html.erb</p>
</div>

<%= render 'shared/unreactive_footer' %>
